[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
dbt = "==0.15"
tap-github = "*"
singer-target-postgres = "==0.2.2"
jsonschema = "*"

[requires]
python_version = "3.6"

[pipenv]
allow_prereleases = true
